@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

:root {
    --html-padding: 15px;
    --html-background: rgb(14, 14, 14);
    --base-font-size: 17px;
    --base-font-family: "Roboto", sans-serif;
    --base-font-color: white;
    --button-background: rgb(27, 98, 204);
    --box-background: rgba(61, 61, 61, 0.798);
    --scrollbar-background: gray;
    --scrollbar-width: 10px;
}

html {
    padding: var(--html-padding);
    background-color: var(--html-background);
    font-size: var(--base-font-size);
    font-family: var(--base-font-family);
    color: var(--base-font-color);
}

section {
    width: 440px;
}

h2 {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 500;
}

input, button {
    padding: 10px;
    border-radius: 10px;
    font-size: inherit;
    font-family: inherit;
}

button {
    background-color: var(--button-background);
    color: inherit;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scrollbar-background);
}

.centered-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--box-background);
}

.icon-of-title {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    vertical-align: baseline;
}

.icon-of-text {
    width: 17px;
    height: 17px;
    margin-left: 10px;
    vertical-align: middle;
}

.text-with-icon {
    display: inline-block;
}

#bg-container {
    position: fixed;
    inset: 0px;
    z-index: -1;
}

#bg-container > div {
    position: absolute;
    inset: 0px;
    opacity: 0;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out 0s;
}

#bg-container > div.bg-visible {
    opacity: 1;
}