#password-generator {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 20px;
}

#password-bounds {
    padding: 10px;
    border-radius: 10px;
}

#password-container {
    display: none;
}

#password-container.password-container-visible {
    display: block;
}

#password-clipboard {
    padding: 7px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.404);
    cursor: pointer;
}

#password-generated {
    display: block;
    margin-top: 5px;
    color: rgb(255, 73, 73);
    overflow-wrap: break-word;
}