#password-menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 20px;
}

#password-fields {
    display: none;
}

#password-fields.password-fields-visible {
    display: block;
}

#password-clipboard {
    padding: 7px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.404);
    cursor: pointer;
}

#password-result {
    color: rgb(255, 73, 73);
    overflow-wrap: break-word;
}